*~
.Rhistory
Daily/Output/
Daily/DailyReports/figure
Daily/DailyReports/*.pdf
Daily/DailyReports/daily.aux
Daily/DailyReports/daily.log
Daily/DailyReports/daily.tex
Daily/DailyReports/texput.log

Batch/Output/
Batch/BatchReport/figs
Batch/BatchReport/figure
Batch/BatchReport/batch.aux
Batch/BatchReport/batch.bbl
Batch/BatchReport/batch.blg
Batch/BatchReport/batch.log
Batch/BatchReport/batch.tex
Batch/BatchReport/*.pdf
Batch/BatchReport/texput.log
